@charset "utf-8";

html {
    font-size: 16px;
}

/* 「*」はユニバーサルセレクタ(すべての要素を対象にするセレクタ)でbox-sizing: border-box;を指定 */

/* この指定(してい)はborderとpaddingをボックスサイズ(widthとheight)の中に含めて算出するので、スタイリングがしやすい*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: normal;
    /*ブラウザが自動的に行間を決める*/
    font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
    /* background: rgb(233, 168, 227); */
    /* background-color: rgba(red, green, blue, 0.6); */
    /* background-blend-mode: soft-light; */
    background-image: url(../img/a.png);
    background-size: cover;
    overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
}

/* **************opening shutter************ */

.shutter {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    margin: 0;
    padding: 0em;
    background-color: #1e1e1e;
    animation: byeShutter 2.5s forwards;
}

.shutter::before {
    content: 'Welcome To My Portfolio';
    font-size: 6em;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    margin: auto;
    background-color: #fff;
    animation: shutterOpen 2.5s forwards;
}

@keyframes byeShutter {
    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
        z-index: -1;
    }
}

@keyframes shutterOpen {
    0% {
        width: 0;
        height: 0.05em;
    }

    50% {
        width: 100%;
        height: 0.05em;
    }

    90% {
        width: 100%;
        height: 100%;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

/* ********************************* */

/* ヘッダー */

/* *********************** */

header {
    margin-top: 8px;
    color: rgba(255, 215, 0, 15);
    font-size: 38px;
    font-weight: bold;
    text-align: center;
}

.wrapper {
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    padding-bottom: 23px;
    text-align: center;
}

#btn1 {
    position: relative;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    line-height: 250px;
    border-radius: 50%;
    color: rgb(255, 0, 212);
    font-weight: bold;
    font-size: 40px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
    background: linear-gradient(#6795fd 0%, #afeeee 100%);
    box-shadow: 0 10px 0 grey;
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn1:hover {
    background: linear-gradient(#da70d6 0%, pink 100%);
}

#btn1:active {
    position: relative;
    top: 5px;
    left: 5px;
    box-shadow: 0 5px 0 grey;
}

/* *****************************/

/* ****フッター */

/* ***************** */

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    margin: 0px;
    padding: 1px;
    color: whitesmoke;
    font: 16px Rajdhani;
    text-align: center;
    background: rgba(1, 24, 31, 0.7);
}

/* ************media query************ */

@media screen and (max-width: 480px) {
  .btn-container {
    margin: 0px 2px 20px;
    font-size: 1em;
    font-weight: bold;
  }
  footer > p {
    margin: 0px;
    padding: 0px;
  }
  
}
/*******************************************************/
/* class=back                                         */
/* id=btn99 backボタン                                 */
/*******************************************************/
.back{
  text-align: left;
}
#btn99{
  padding: 0.5em;
  border-radius: 0.3em;
  color: whitesmoke;
  font-size: 1.5em;
  background: rgb(26, 212, 212);
  cursor: pointer; /*カーソルをポインターの形（かたち）にする*/
}